<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="users">
    <ion-item  *ngFor="let user of users" (click)="getDetail(user)" [detail]="false">
      <ion-label class="ion-text-wrap">
        <h2>
          {{ user.name }}
          <span class="date">
            <ion-note>{{ user.username }}</ion-note>
          </span>
        </h2>
        <h3>{{ user.email }}</h3>
      </ion-label>
      </ion-item>
  </ion-list>
</ion-content>